.img-circle {
    width: 130px; 
    height: 130px; 
    border-radius: 50%; 
    object-fit: cover;
}
.form-control{
    border-radius: 5px;
}
.table-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}